@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@600&family=Manrope:wght@200&family=Merriweather:ital,wght@1,700&family=Montserrat:wght@800&family=Old+Standard+TT:ital@1&display=swap');
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex {
    display: flex;
}
main {
    height: 100vh;
    flex-direction: row;
justify-content: space-evenly;
    width: 100%;
    height: 100vh;
    background: url("./media/boston_skyscraper.jpg") no-repeat center;
    background-size: cover;
    color: white;
    padding: 4rem 2rem;
}

main .left {
}


main h2 {
    font-family: 'Manrope', sans-serif;
    font-weight: 100;
    font-size: 50px;
}

main h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 100px;
}

.ev-download-link-1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background: transparent;
    border: 3px solid #336EC8;
    color: #336EC8;
    text-transform: uppercase;
    padding: 1.8rem;
    border-radius: 100px;
    text-decoration: none;

}

.ev-download-link-1.off {
    animation-name: download-1-off;
    animation-duration: 0.25s;
}
.ev-download-link-1.on {
    animation-name: download-1-on;
    animation-duration: .4s;
    animation-fill-mode: forwards;
}

@keyframes download-1-on {
    from {
        background: transparent;
    }
    to {
        background: white;
    }
}

@keyframes download-1-off {
    from {
        background: white;
    }

    to {
        background: transparent;
    }
}


main .left h4 {
    width: min(50vw, 700px);
    font-family: 'Old Standard TT', serif;
font-style: italic;
font-weight: 400;
font-size: 30px;
line-height: 37px;
overflow: scroll;
}

.left > * {
    margin-bottom: 10vh;
}
.left > *:not(.header-text) {
    margin-top: 10vh;
}

main .right {
    display: flex;
    justify-content: center;
    align-items: center;
}


.interior-of-car{
    filter: drop-shadow(-2px 2px 2px rgba(0, 0, 0, 0.2)) drop-shadow(30px -30px 0px #336EC8);
}

@media (max-width: 768px) {
 main .right {
    display: none;
 }

 main .left h4 {
    font-size: 20;
 }

 
}

.hidden-text {
    display:none;
}

.section-2 {
    min-height: 100vh;
    min-width: 100%;
    background-image: url("./media/track_background.png") no-repeat center;
    background-size: cover;
}